html, body {
    color-scheme: dark;
}

h1:focus {
    outline: none;
}

.post a {
    text-decoration: underline;
}

.post p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.logo {
    color: #FFF;
    text-decoration: none;
}

.logo:hover {
    text-decoration: none !important; 
}