@page "/"

<MudText Typo="Typo.h1">Latest Posts </MudText>

@foreach (var blogPost in BlogPosts)
{
    <div class="mb-3">
        <MudText Typo="Typo.subtitle2">
            Published: @blogPost?.Timestamp.ToString("dd MMMM yyyy")
        </MudText>
        <MudText Typo="Typo.h2">@blogPost?.Title</MudText>

        <CascadingValue Value="@summary">
            <div class="my-3 post">
                <DynamicComponent Type="@blogPost.Type" />
            </div>
        </CascadingValue>

        <MudButton href=@(blogPost.Url+"#detail") Variant="Variant.Filled" Color="Color.Primary" class="my-3">
            Continue Reading
        </MudButton>
    </div>
}

@code {

    [Inject] BlogPostService blogPostService {get;set;}

    private List<BlogPost> BlogPosts;
    private bool summary = true;
    
     protected override void OnInitialized()
    {
        BlogPosts = blogPostService.GetBlogPosts(typeof(Program).Assembly)
                        .OrderByDescending(p => p.Timestamp)
                        .Take(5)
                        .ToList();
    }

   
}