@inherits PostLayoutBase
@layout MainLayout

<div>
    <CascadingValue Value="this">
        <MudText Typo="Typo.subtitle2">
            Published: @BlogPost?.Timestamp.ToString("dd MMMM yyyy")
        </MudText>
        <MudText Typo="Typo.h1">@BlogPost?.Title</MudText>
        <PageTitle>@BlogPost?.Title - mohdali.dev</PageTitle>
        <CascadingValue Value="@summary">
            <div class="my-3 post">
            @Body
            </div>
        </CascadingValue>
    </CascadingValue>
</div>
