@page "/posts/Rolling-Shutter-Simulation"

<PageTitle>Rolling Shutter Simulation - mohdali.dev</PageTitle>
<h1>Rolling Shutter Simulation</h1>
<p>Use the sliders to change the simulation parameters.</p>
<iframe loading="lazy" width="100%" height="604" frameborder="0"
  src="https://observablehq.com/embed/@@mohdali/rolling-shutter-simulation?cells=code%2Cviewof+numOfBlades%2Cviewof+rotationSpeed%2Cviewof+angle"></iframe>