@page "/"
<div class="row mb-5">
    <h3> Latest Posts </h3>

        @foreach (var blogPost in BlogPosts)
        {
            <div class="row">
                <small class="text-muted">
                    Published: @blogPost?.Timestamp.ToString("dd MMMM yyyy")
                </small>
                <h1>@blogPost?.Title</h1>
                
                <CascadingValue Value="@summary">
                    <DynamicComponent Type="@blogPost.Type" />
                </CascadingValue>

                <p>
                    <MudButton href=@(blogPost.Url+"#detail") Match="NavLinkMatch.All" class="btn btn-primary">
                        Continue Reading
                    </MudButton>
                </p>
            </div>
        }
</div>

@code {
    private List<BlogPost> BlogPosts => BlogPostsHelper
    .GetBlogPosts(typeof(Program).Assembly)
    .OrderByDescending(p => p.Timestamp)
    .Take(5)
    .ToList();

    private bool summary = true;
}