@inherits LayoutComponentBase
@layout MainLayout

<CascadingValue Value="this">
    <small class="text-muted">
        Published: @BlogPost?.Timestamp.ToString("dd MMMM yyyy")
    </small>
    <h1>@BlogPost?.Title</h1>
    <PageTitle>@BlogPost?.Title - mohdali.dev</PageTitle>
    @Body
</CascadingValue>

@code
{
    public BlogPost BlogPost { get; private set; }

    public void SetBlogPost(BlogPost blogPost)
    {
        BlogPost = blogPost;
        StateHasChanged();
    }
}