@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />

        <ul class="nav justify-content-md-center">
            <li class="nav-item">
                <a class="nav-link link-secondary" href="https://twitter.com/mohdali" target="_blank" rel="noopener">
                    <i class="fab fa-twitter"></i>
                    <small class="d-md-none ms-2">mohdali</small>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link link-secondary" href="https://github.com/mohdali/" target="_blank" rel="noopener">
                    <i class="fab fa-github"></i>
                    <small class="d-md-none ms-2">mohdali</small>
                </a>
            </li>
            
            <li class="nav-item">
                <a rel="me" class="nav-link link-secondary" href="https://mastodon.online/@mohdali" target="_blank">
                    <i class="fab fa-mastodon"></i>
                    <small class="d-md-none ms-2">mohdali</small>
                </a>
            </li>
        </ul>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
